body{
    background-color:#ffb74d;
    
}
table{
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	border-style: solid;
	font-family:arial;
	font-size:17px;
	text-align:center;
	border:4px black;
}
button {
	background-color:#00ace6;
	color:#ffff66;
}